<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- import CDN --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  {{!-- custom CSS --}}
  <link rel="stylesheet" href="/css/index.css">
  <title>URL Shortener</title>
</head>
<body>
  <main class="container text-center">
    <div class="row flex-column">
      <h1 class="mb-4">URL Shortener</h1>
      <i class="fas fa-link"></i>
      <div class="col-10 col-lg-8 mx-auto form-wrapper">
        {{#if error}}
          <div class="alert alert-danger fade show">
            {{error}}
            <button type="button" class="close" data-dismiss="alert">
              <span>&times;</span>
            </button>
          </div>
        {{/if}}
        <form action="/" method="POST">
          <input type="text" class="form-control" name="url" value="{{input}}" placeholder="https://www.example.com">
          <button type="submit" class="btn btn-outline-primary mt-3 w-50">Shorten!</button>
        </form>
        {{#if short}}
          <div class="alert alert-primary mt-5" role="alert">
            <span>Link shortening successfully!</span>
            <br>
            <span>Visit your website at</span>
            <a href="/{{short}}" target="_blank" rel="noopener">localhost:3000/{{short}}</a>
          </div>
        {{/if}}
      </div>
    </div>
  </main>
  {{!-- import CDN --}}
  <import>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </import>
</body>
</html>